{% extends "base.html" %}

{% block bootstrap5_title %}index{% endblock %}

{% block bootstrap5_extra_head %}
{% endblock bootstrap5_extra_head %}

{% block bootstrap5_content %}

<div class="height100 main text-center">

    <div class="main_content">
    <h1>Cryptocurrencies.</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis doloremque dolores
            illum ipsum laboriosam rerum sunt voluptas.

        </p>
        <br>
        {% include 'cmc/cmc/include/_table_show.html' %}
        {% include 'cmc/cmc/include/_paginate.html' with page=cryptocurrencies %}

    </div>

    <aside class="sidebar">
        <div class="">
            <h2>Sidebar.</h2>
        </div>

    </aside>

</div>

{% endblock %}
