{% extends "base.html" %}

{% block bootstrap5_title %}index{% endblock %}


{% block bootstrap5_content %}

    <div class="container">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis doloremque dolores
            illum ipsum laboriosam rerum sunt voluptas. Aliquid aperiam atque autem blanditiis cumque doloremque
            exercitationem expedita fugiat illum in ipsam modi necessitatibus nihil nisi nobis odio officiis
            quas quidem, quis quisquam quod reiciendis repellendus, rerum tempore velit? Assumenda corporis
            deleniti dignissimos dolorem doloremque eius est eveniet, fugiat illo in neque odit reiciendis rerum
            sapiente sequi, suscipit vel? Ab cum deleniti dolorem odit quaerat quasi ullam veniam. Blanditiis
            dolor facilis fugit libero magni molestiae quos similique temporibus veritatis voluptatem. Accusamus
            consequuntur cupiditate deleniti enim, illo inventore odit quo quod sed?
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores autem beatae consequatur
            corporis dicta earum eum eveniet, in libero magnam maiores neque nulla, perspiciatis vel. Ab commodi
            cum officiis quaerat tempore! Ab alias architecto at corporis deserunt distinctio, eius explicabo
            illo impedit in ipsa molestiae nam pariatur porro repellat repellendus sint soluta temporibus
            tenetur voluptatem! Architecto commodi consectetur distinctio, doloribus libero minima nobis
            provident tenetur totam voluptatum. A ab, ad aliquid animi aperiam at atque aut corporis dicta dolor
            earum eius error eveniet fuga hic ipsa itaque iure libero natus nemo nesciunt, nihil nisi nobis
            nulla placeat provident quis ratione saepe sit soluta suscipit vitae voluptas voluptatem? Assumenda
            doloremque explicabo facilis fuga illo impedit laborum libero molestiae officia praesentium
            provident qui quia quis repudiandae sed tenetur, voluptate voluptates. Aspernatur consectetur
            dolores ex exercitationem fugit magnam quia rerum sint! Aperiam cumque error est ex explicabo illum
            impedit iste iure labore, magni necessitatibus nihil officiis omnis placeat totam ullam, unde? Ab
            adipisci, beatae commodi consequatur delectus ea eius, et impedit ipsam laboriosam laudantium maxime
            non nulla qui repellendus tempora voluptatibus voluptatum! Adipisci amet animi architecto aspernatur
            beatae, consectetur delectus, dicta dolore error esse eum exercitationem iste laboriosam magnam
            maxime neque nesciunt nisi obcaecati officiis perspiciatis quo ratione repellendus saepe sapiente
            soluta suscipit vitae voluptatibus. Ad beatae commodi error ex impedit ipsa laudantium minima non
            nostrum placeat possimus quam quibusdam quidem quod repellendus tempore, totam vel, veniam? A at
            harum hic iure, quaerat sapiente sit soluta. Accusamus cumque laudantium molestiae, obcaecati
            pariatur quia recusandae reiciendis veniam vero? Adipisci animi, dignissimos dolorum eaque earum
            facilis id illum impedit iste laboriosam laudantium minima modi obcaecati, praesentium quasi quidem
            recusandae repellat. Accusamus adipisci alias aliquid consequuntur delectus enim et eum ex hic
            inventore ipsa laudantium maxime, nulla, qui quod reprehenderit sequi suscipit voluptas. Ad alias
            animi aperiam earum expedita explicabo facilis illo incidunt, modi necessitatibus nemo provident
            recusandae rem tempora temporibus tenetur vel. Commodi, consequatur culpa debitis delectus
            doloremque dolores eligendi exercitationem incidunt ipsum itaque laborum libero magni nam provident
            quae quidem quod ratione soluta totam veniam veritatis vitae voluptatum. Ab adipisci, aliquid
            delectus dicta dolore dolorem earum eos explicabo hic ipsam ipsum libero magni minus non obcaecati
            odit pariatur placeat quae, qui, quod reprehenderit repudiandae sint sit sunt tempore temporibus
            vitae voluptate. Alias autem dicta distinctio eaque error est expedita illo neque recusandae unde
            voluptates, voluptatum! Aliquam, consectetur cumque, eum hic incidunt inventore, laborum molestias
            necessitatibus non pariatur perspiciatis porro possimus rerum suscipit ullam vel voluptatum!
            Aspernatur commodi debitis dicta nemo nulla quae quisquam sunt temporibus. Asperiores, commodi
            consequuntur ea eius eum facere fugiat inventore iure iusto labore magnam magni modi mollitia nam
            natus nesciunt nisi nobis placeat quia rem repellendus rerum sint ullam vero vitae voluptatem
            voluptates. Accusamus ad, cumque dolores doloribus explicabo harum impedit ipsa laboriosam laborum
            nam neque nulla perferendis qui sit soluta sunt tempore. Dolore doloremque ipsa maiores nisi
            possimus quaerat qui voluptatem. Accusamus ad architecto, at, autem blanditiis dignissimos eos
            excepturi exercitationem, explicabo illum ipsam laborum molestiae optio placeat quod. Ad beatae
            blanditiis commodi consectetur doloremque eaque eligendi eum explicabo id in iste laborum libero
            molestias nam necessitatibus nesciunt numquam obcaecati pariatur placeat quae quo rem saepe,
            similique velit vitae. Accusantium ad alias aliquam amet aspernatur assumenda atque culpa deleniti
            dicta dolorum, ducimus eligendi eum facilis, fugit illo illum ipsum iure iusto laboriosam maxime
            mollitia necessitatibus nesciunt nihil officiis pariatur quaerat, quam quasi quisquam quo quos
            similique sint sit tenetur. Amet aut beatae consequuntur cum debitis delectus deserunt doloremque
            dolorum ea, enim error et eum fuga fugit hic incidunt ipsa ipsam labore laboriosam magnam minus modi
            mollitia nisi nobis odit omnis quam quas quibusdam ratione reiciendis repellat repellendus
            reprehenderit similique sunt ut, velit veniam? Ab dolore doloremque exercitationem explicabo fuga
            minima officia recusandae rerum sequi sunt! Consequatur maiores obcaecati unde. Aliquam dicta,
            dolorem dolores eos error fuga fugiat inventore labore laborum laudantium, magnam maxime nulla
            perferendis sit tenetur ullam voluptatibus. A assumenda atque debitis doloribus, dolorum earum eius
            est illo impedit incidunt inventore ipsam labore laudantium magni minima omnis pariatur placeat
            possimus repudiandae sapiente, similique tenetur vitae voluptate voluptates voluptatibus? Accusamus
            doloribus facere, fugit impedit, incidunt natus nemo nesciunt numquam perferendis possimus quasi
            quod suscipit. Ab adipisci corporis deserunt dolor, eligendi esse fugit ipsam ipsum laboriosam,
            minus nam nihil nobis omnis perferendis possimus provident quae quasi reprehenderit, sed sit unde
            vel veniam voluptatibus. Accusamus at consectetur dignissimos, dolores ducimus, enim eveniet
            expedita hic ipsum iure laborum modi nostrum, officiis possimus quo sunt voluptatem! Ab ad adipisci
            alias dignissimos, doloribus earum error et, fugit hic inventore nihil non omnis possimus quam saepe
            vel voluptate? Autem consequatur dolorem dolorum ipsum maiores pariatur quod recusandae repellendus
            saepe similique. Cumque dolorem fugiat ipsa ipsam ipsum maiores provident vel veritatis! Eius
            excepturi, facilis nemo praesentium quis rem tempore! Ab, atque cupiditate deleniti dolore dolorem
            est explicabo facere fugit hic iusto magnam minima molestiae perspiciatis quas quibusdam quis rerum
            suscipit tempora ullam unde ut vel vitae voluptate. Ab ad aliquid aut consequuntur, cum cumque
            cupiditate delectus dolore dolorem doloremque eaque est et, eum facere fuga id itaque laboriosam
            minus nostrum praesentium quisquam rem repellendus sint tempore totam vero vitae voluptas! Accusamus
            ad aliquid aut blanditiis deserunt dicta dolores eius esse id, ipsa mollitia nihil, non omnis
            praesentium provident quas quia quidem reiciendis rem soluta ut veniam vero. Aliquam consectetur
            cupiditate debitis dicta dignissimos, enim eos est excepturi hic iusto laudantium maxime nesciunt,
            nisi nostrum numquam optio perspiciatis qui quia recusandae reiciendis sunt suscipit totam, veniam!
            At consectetur consequatur doloribus ea est, et iste laboriosam libero, necessitatibus quis quisquam
            tenetur vero. Accusantium aliquid amet architecto, assumenda atque aut beatae deserunt distinctio
            dolor dolores eius exercitationem fuga fugit, harum, id impedit iste iure labore magnam molestiae
            neque nihil placeat possimus provident quae quo quos sint temporibus tenetur unde velit veniam
            voluptates voluptatibus! A assumenda autem commodi consectetur consequatur cumque dicta doloremque
            ducimus earum enim eos harum iste labore libero necessitatibus possimus quibusdam, repellendus saepe
            sapiente sequi sit tempora tempore unde voluptas, voluptatibus! Magni quae quaerat quo veniam.
        </p>

    </div>

{% endblock %}
