{% extends "base_index.html" %}

{% block bootstrap5_title %}index{% endblock %}

{% block bootstrap5_extra_head %}
{% endblock bootstrap5_extra_head %}


{% block main_content %}

    <h1 class="text-center">Cryptocurrencies.</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur debitis doloremque dolores
            illum ipsum laboriosam rerum sunt voluptas.

        </p>
        <br>
        {% include 'cmc/cmc/include/_table_show.html' %}
        {% include 'cmc/cmc/include/_paginate.html' with page=cryptocurrencies %}

{% endblock main_content %}


{% block sidebar %}
        <div class="container">
            <h2 class="text-center">Sidebar.</h2>
        </div>
{% endblock sidebar %}

