{% extends "base.html" %}

{% block bootstrap5_title %}Reset your password{% endblock %}

{% block bootstrap5_content %}

    <div class="container col-md-4">
        <h1>Reset your password</h1>
        {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form method="post">
                <table>
                    {{ form.as_table }}
                </table>
                {% csrf_token %}
                <p><input type="submit" value="Change my password" class="btn btn-success"></p>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already
                been used. Please request a new password reset.</p>
        {% endif %}
    </div>

{% endblock %}