{% extends "base.html" %}

{% block bootstrap5_title %}Reset your password{% endblock %}

{% block bootstrap5_content %}

    <div class="container col-md-4">
        <h1>Forgotten your password?</h1>
        <p>Enter your e-mail address to obtain a new password.</p>
        <form method="post">
            <table>
                {{ form.as_table }}
            </table>
            <p><input type="submit" value="Send e-mail" class="btn btn-success" v></p>
            {% csrf_token %}
        </form>
    </div>

{% endblock %}