<ul class="navbar-nav navbar-right">
    {% if not user.is_authenticated %}
        <li>
            <a class="action nav-link" href="{% url "login" %}">
                <i class="fa-solid fa-right-to-bracket"></i> Login</a></li>
        <li>

            <a class="action nav-link" href="{% url "register" %}">
                <i class="fa-solid fa-user-plus"></i> Sign up</a></li>
    {% endif %}

    {% if user.is_authenticated %}

        <li class='nav-link'>
            <a class="dropdown-item" href="{% url "exchanger:exchangers" %}">
                Hello, {% if user.first_name %} {{ user.first_name }}
            {% else %} {{ user.username }}
            {% endif %}
            </a>

        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               data-bs-toggle="dropdown" aria-expanded="false">Exchangers</a>
            <ul class="dropdown-menu">

                {% if exchanger_portfolios %}
                    {% for exchanger_portfolio in exchanger_portfolios %}
                        <li>
                            <a href="{% url "exchanger:get_exchanger_data" exchanger_portfolio.id %}"
                               class="dropdown-item link">{{ exchanger_portfolio }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>You did not create yet.</p>
                {% endif %}

                <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="{% url "exchanger:exchangers" %}">All</a></li>

            </ul>
        </li>



        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">BlockChains</a>
            <ul class="dropdown-menu">

                {% if blockchain_portfolios %}
                    {% for blockchain_portfolio in blockchain_portfolios %}
                        <li>
                            <a href="{% url "blockchain:get_blockchain_data" blockchain_portfolio.id %}"
                               class="dropdown-item link">{{ blockchain_portfolio }}</a>
                        </li>

                    {% endfor %}
                {% else %}
                    <p>You did not create yet.</p>
                {% endif %}

                <hr class="dropdown-divider">
                <li><a class="dropdown-item" href="{% url "exchanger:exchangers" %}">All</a></li>

            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="{% url "edit" %}">Edit_detail</a>
                    {#                    <a class="dropdown-item" href="#">1111111</a>#}
                </li>
            </ul>
        </li>

        <li>
            <a class='action  nav-link' href="{% url "logout" %}">
                <i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
    {% endif %}
</ul>