{% extends "base.html" %}
{% load exchanger_tags %}
{% load blockchain_tags %}

{% block bootstrap5_content %}

    {% get_exchanger_portfolios user as exchanger_portfolios %}
    {% get_blockchain_portfolios user as blockchain_portfolios %}
    {% get_path_to_users_xlsx_file user as path_to_users_xlsx_file %}


    <div class="height100 main">

        <div class="main_content">
            {% include 'include/_message.html' %}

            {% block main_content %}
            {% endblock main_content %}
        </div>


        <aside class="sidebar">
            <div class="container">
                <ul>
                    <li>Total coins on site: {% total_coins %}</li>
                    <li>Total users on site: {% total_users %}</li>
                    <li>Total exchanger portfolio on site: {% total_exchanger_portfolios %}</li>
                    <li>Total blockchain portfolio on site: {% total_blockchain_portfolios %}</li>
                </ul>
            </div>


            <div class="container">
                {% if user.is_authenticated %}

                    <h2 class="text-center">{{ user }}.</h2>

                    {% if exchanger_portfolios %}

                        <table class="table table-borderless align-middle" id="">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col">Exchangers</th>
                                <th scope="col" class="text-center">Info</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for exchanger_portfolio in exchanger_portfolios %}
                                <tr>
                                    <td>{{ exchanger_portfolio }}</td>
                                    <td class="text-center">
                                        <a href="{% url "exchanger:get_exchanger_data" exchanger_portfolio.id %}"
                                           class="badge bg-info link">Get data</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    {% else %}
                        <p>You did not create exchanger yet.</p>
                    {% endif %}


                    {% if blockchain_portfolios %}
                        <table class="table table-borderless align-middle" id="">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col">Blockchains</th>
                                <th scope="col" class="text-center">Info</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for blockchain_portfolio in blockchain_portfolios %}
                                <tr>
                                    <td>{{ blockchain_portfolio }}</td>
                                    <td class="text-center">
                                    <span class="badge bg-info">
                                        <a href="{% url "blockchain:get_blockchain_data" blockchain_portfolio.id %}"
                                           class=" link">Get data</a>
                                    </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <p class="text-center">
                            <a href="{% url "exchanger:get_all_data" user.id %}" class="badge bg-warning bg-lg link">
                                Get data for all portfolios</a>
                        </p>

                        <p class="text-center">
                            <a href="{{ path_to_users_xlsx_file }}" class="badge bg-secondary bg-lg link"
                            download>Download 'xlsx' file</a>
                        </p>

                    {% else %}
                        <p>You did not create blockchain yet.</p>
                    {% endif %}

                {% endif %}
            </div>

            {% block sidebar %}{% endblock sidebar %}

        </aside>
    </div>

{% endblock %}
