{% extends "base_index.html" %}

{% load thumbnail %}

{% block bootstrap5_title %}Blockchains{% endblock %}

{% block bootstrap5_extra_head %}
{% endblock bootstrap5_extra_head %}


{% block main_content %}
    <div class="text-center">
        <h1>Exchanger - {{ blockchain.name }}</h1>
        <p>
            Here you can ...
        </p>
    </div>

    <div class="container col-md-6 text-center">
        <form method="post">
            <table class="table table-borderless">
                {{ form_portfolio.as_table }}
            </table>
            {% csrf_token %}
            <p>
                <input type="submit" value="{% if button == 'Create' %}Create{% elif button == 'Change' %}Change{% endif %}"
                      class="btn btn-success">
            </p>
        </form>
    </div>


{% endblock main_content %}


{% block sidebar %}
{% endblock sidebar %}

